nav {
    background-color: transparent;
}

.nav_box {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
}

.my_shop {
    cursor: pointer;
    text-decoration: underline;
}

.cart {
    cursor: pointer;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 0 3px;
    background-color: rgb(194, 138, 66);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
    padding: 5px;
}